/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles (Optional) */
@layer base {
  body {
    @apply bg-gray-50 dark:bg-navy-900 text-gray-900 dark:text-gray-100 transition-colors duration-200;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  a {
    @apply transition-colors duration-200;
  }
}


@layer components {
    /* Kita akan tambahkan custom components di sini nanti */
}
